<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXG09zjZ_6Y88z0XrbAfBv5m6oiwf57Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>790443014897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAgriApp</string>
	<key>PROJECT_ID</key>
	<string>final-year-project-c8d9f</string>
	<key>STORAGE_BUCKET</key>
	<string>final-year-project-c8d9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790443014897:ios:782359809fc057a8b9c750</string>
	<key>DATABASE_URL</key>
	<string>https://final-year-project-c8d9f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>